<center><h1>ACTUALIZAR PRODUCTO</h1></center>
<center>
<form action="updaterecord/{{ myproduktua.id }}" method="post" style="width:300px;
padding:16px;
border-radius:10px;
margin:auto;
background-color:#ccc;">
{% csrf_token %}
Izena:<br>
<input name="izena" value="{{ myproduktua.izena }}">
<br><br>
Prezioa:<br>
<input name="prezioa" value="{{ myproduktua.prezioa }}">
<br><br>
Iraungipen Data:<br>
<input name="iraungipenData" value="{{ myproduktua.iraungipenData }}">
<br><br>
<input type="submit" value="Submit">
</form>
</center>